.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  height: 4rem;

  border: none;
  border-radius: 5px;

  &--log-btn {
    width: 8.4rem;
    background: none;
    border: 1.5px solid #868484;
    padding: 0.8rem 2rem;
  }

  &--started-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 0.8rem 2rem;
    width: 12rem;
  }
}
