.blog-section {
  padding: 8rem 0rem 5rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__heading-title {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    width: 50%;
  }

  &__heading-sub {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & h2 {
      font-size: 5.6rem;
    }
  }

  &__blog-infos {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__section-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
  }

  &__section-infos {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__section-info-sub {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    & img {
      display: block;
      width: 25rem;
      border-radius: 5px;
    }
  }

  &__blog-details {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & a {
      text-decoration: none;
    }
  }

  &__blog-details-type {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__blog-details-heading {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    & h4 {
      font-size: 3.2rem;
      font-weight: 700;
    }
  }

  &__blog-types {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__blog-heading-details {
    display: none;
  }
}

.newsletter {
  // margin-bottom: 2rem;
  padding: 11.5rem 6.4rem;
  position: relative;

  margin: 6rem 0rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba($color: #000000, $alpha: 0.6);
    // backdrop-filter: blur(2px);
    display: block;

    z-index: -1;
  }

  &__news-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  &__letter-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__signup-text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    color: #ffffff;

    & span {
      font-size: 1.8rem;
    }
  }

  &__mail-input {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__sub-btn {
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 1.2rem 2.4rem;

    height: 4.8rem;

    &--border {
      background: none;
      border: 1.5px solid #e6e6e6;
      color: #ffffff;
    }
  }

  &__sub-letters {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & span {
      font-size: 1.2rem;
      color: #ffffff;
    }
  }
}

.blog-posts {
  padding: 5rem 0rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__headings {
    display: flex;
    justify-content: space-between;
  }

  &__heading-type {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__view-all {
    display: flex;
    align-items: flex-end;
  }

  &__blog-infos {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__blog-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
  }

  &__blog-details {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  &__blog-types {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    & span {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  &__blog-details-type {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__blog-details-heading {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.footer-section {
  background-color: #000000;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 8rem;

  padding: 8rem 6.4rem;

  &__top-details {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 60rem 1fr;
    gap: 4rem;
  }

  &__footer-newsletter {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    // display: flex;
    // justify-content: space-between;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  &__menu-links {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    a,
    li {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }

  &__bottom-details {
    display: flex;
    justify-content: space-between;

    padding-top: 3.2rem;
    border-top: 1.5px solid #ffffff;

    font-size: 1.4rem;
  }

  &__details-menu {
    display: flex;
    gap: 2.4rem;

    a {
      color: #ffffff;
    }
  }
}

.read-details {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 4rem 0rem 0rem;

  &__header {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: auto;
    padding: 0rem 1rem;
  }

  &__header-details {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__header-title {
    display: flex;
    align-items: center;
    // gap: 0.8rem;
  }

  &__bloggers {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__blogger-details {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__blogger-img {
    display: block;
    width: 4.8rem;
  }

  &__blogger-infos {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__time-date {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 3.2rem;
      background-color: #f4f4f4;
      // border-radius: 50%;
      padding: 4px;
    }
  }

  &__blog-img {
    display: block;
    width: 140rem;
  }

  &__blog-body {
    width: 50%;
    margin: auto;
    padding: 0rem 2rem 0rem;
  }

  &__blog-body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__blog-body-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__blog-body-img {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__figcap {
    font-size: 1.4rem;
    padding-left: 0.8rem;
    border-left: 2px solid #000000;
  }

  &__blog-intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    // padding-bottom: 4rem;
  }

  &__blog-read {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__blog-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__blog-socials {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & p {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  &__blogs-type {
    display: flex;
    gap: 0.8rem;

    margin-top: auto;
  }

  &__blog-img-sm {
    display: block;
    width: 76rem;

    border-radius: 5px;
  }
}

.divider {
  background-color: #000000;
  height: 5px;
  width: 5px;
  border-radius: 100%;
}
